body{
    background-color: rgb(245, 230, 248);
    text-align: center;
}

img{
    width: 800px;
    height: auto;
    background-color: wheat;
}



ul {
    text-decoration: none;

}

li{
    display: inline;
    text-decoration: none;
    margin-right: 10px;
    
}

a{
    text-decoration: none;
    color: green;
}  